In [6]:
print("miau x2")

miau x2

In [7]:
LastName = "josefino"

In [22]:
Last_Name = 'rujano'

In [8]:
firstname = 'josefino'

In [9]:
firs-tname = 'josefino'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2332861319.py, line 1)

In [16]:
# OPERADORES MATEMATICOS
number_1 = 10
number_2 = 20

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación
multi = number_1 * number_2
print("Multiplicación:", multi)

# división
div = number_1 / number_2
print("División:", div)

Suma: 30
Resta: -10
Multiplicación: 200
División: 0.5

In [28]:
# OPERADORES MATEMATICOS
number_1 = input( "Ingrese el primer número" )
number_1 = float(number_1)

number_2 = input( "Ingrese el segundo número" )
number_2 = float(number_2)

# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación
multi = number_1 * number_2
print("Multiplicación:", multi)

# división
div = number_1 / number_2
print("División:", div)

Suma: 23.58
Resta: -0.9199999999999999
Multiplicación: 138.7925
División: 0.9248979591836735

In [26]:
"11" + "22"

'1122'

In [27]:
"aa" + "bb"

'aabb'

In [35]:
# condicional
# operadores de comparación
# mayor >
# menor <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente !=

number_1 = int( input ("número 1:") )
number_2 = int( input ("número 2:") )

if number_1 > number_2:
    print("mayor") 
else:
    print("menor")

mayor

In [30]:
2 > 2

False

In [36]:
# OPERADORES MATEMATICOS
number_1 = float (input( "Ingrese el primer número" ))

number_2 = float (input( "Ingrese el segundo número" ))

operation = input("Seleccione su operación: suma, resta, multi, div")


# suma
sum_two = number_1 + number_2
print("Suma:", sum_two)

# resta
resta = number_1 - number_2
print("Resta:", resta)

# multiplicación
multi = number_1 * number_2
print("Multiplicación:", multi)

# división
div = number_1 / number_2
print("División:", div)

Suma: 30.0
Resta: 10.0
Multiplicación: 200.0
División: 2.0

In [18]:
# OPERADORES MATEMATICOS
number_1 = float (input( "Ingrese el primer número" ))

number_2 = float (input( "Ingrese el segundo número" ))

operation = input("Seleccione su operación: suma, resta, multi, div")

# selección de operación


# suma
if operation == "suma":
    resultado = number_1 + number_2
    print("Suma:", resultado)

# resta
elif operation == "resta":
    resultado = number_1 - number_2
    print("Resta:", resultado)

# multiplicación
elif operation == "multi":
    resultado = number_1 * number_2
    print("Multiplicación:", resultado)

# división
elif operation == "div":
   if number_2 != 0:
    resultado = number_1 / number_2
    print("División:", resultado)
   else: 
    print("División: error de sintaxis")
else:
    print("operación no válida")

División: error de sintaxis

In [ ]:
# OPERADORES MATEMATICOS
# condicionales encadenados

number_1 = float (input( "Ingrese el primer número" ))

number_2 = float (input( "Ingrese el segundo número" ))

operation = input("Seleccione su operación: suma, resta, multi, div")

# selección de operación


# suma
if operation == "suma":
    resultado = number_1 + number_2
    print("Suma:", resultado)

# resta
elif operation == "resta":
    resultado = number_1 - number_2
    print("Resta:", resultado)

# multiplicación
elif operation == "multi":
    resultado = number_1 * number_2
    print("Multiplicación:", resultado)

# división
elif operation == "div":
   if number_2 != 0:
    resultado = number_1 / number_2
    print("División:", resultado)
else: 
    print("operación no válida")

In [13]:
# Ciclos finitos
# listas
# cadenas
# 20
# 12.33

names = ["jose", "maria", "juan"]

# indice 0, 1, 2, ...
numbers = [10, 20, 30.5]

In [3]:
print (names)

['jose', 'maria', 'juan']

In [7]:
names[2]
numbers[2]

30.5

In [8]:
numbers[-1]

30.5

In [14]:
numbers[-3]

10

In [15]:
# agregar un elemento en la lista de nombres
names.append("josefino")

In [16]:
names

['jose', 'maria', 'juan', 'josefino']

In [17]:
names.pop(0)

'jose'

In [18]:
names

['maria', 'juan', 'josefino']

In [19]:
names.pop(1)

'juan'

In [20]:
names

['maria', 'josefino']

In [22]:
# incorporo nombres en mi lista
names.append("ruperto")

In [24]:
names

['maria', 'josefino', 'ruperto', 'ruperto']

In [25]:
names = ['maria', 'josefino', 'roberto', 'jesus', 'juan']

In [26]:
names

['maria', 'josefino', 'roberto', 'jesus', 'juan']

In [27]:
name_1, name_2 = names[0], names[1]

In [30]:
len(names)

5

In [29]:
# ciclos finitos: for
for n in names:
    print(n)

maria
josefino
roberto
jesus
juan

In [34]:
for n in range(2,7):
    print(n)

2
3
4
5
6

In [36]:
for name in range( len(names) ):
    print(name)

0
1
2
3
4

In [38]:
names

['maria', 'josefino', 'roberto', 'jesus', 'juan']

In [39]:
for name in range( len(names) ):
    print(names[name])

maria
josefino
roberto
jesus
juan

In [45]:
for name in range( len(names) ):
    if names[name] == "juan":
        print("encontre a juan en la posicion", name)

encontre a juan en la posicion 4

In [4]:
# Ciclos infinitos
num1 = 5
while num1 < 10:
    print ("Epale")
    num1 = num1 + 1

Epale
Epale
Epale
Epale
Epale

In [5]:
# funciones
def suma_dos( ):
    num_a = 20
    num_b = 30
    return num_a + num_b

In [6]:
suma_dos()

50

In [2]:
# funciones
def suma_dos(num_a, num_b):
    result = num_a + num_b
    return num_a + num_b

In [4]:
suma_dos(1, 10)

11

In [7]:
# funciones
def suma_dos(num_a=1, num_b=1):
    result = num_a + num_b
    return num_a + num_b

In [8]:
suma_dos(5, 5)

10